[Unit]
Description=Makes an eth0 wwan tunnel
After=network.target

[Service]
Restart=always
RestartSec=10
ExecStart=/home/pi/agent-cam/rpi-bridge.sh

[Install]
WantedBy=multi-user.target
